html, body {
	background-color: white;
	color: black;
	font-family: helvetica, arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

#header {
	position: absolute;
	display: block;
	left: 2%;
	top: 10px;
	border-radius: 8px;
	z-index: 1;
	background-color: rgba(255,255,255,.7);	
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	padding: 10px;
}

#main_tab {
	height: 100%;
}

#main_tab > iframe {
	width: 100%;
	height: 100%;
}

#settings > h2 {
	text-align: center;
}

#wifi-card {
	margin-left: 2%;
}

.demo-card-square.mdl-card {
	width: 320px;
	height: 320px;
  }

.demo-card-square > .mdl-card__title {
	color: #fff;
	background:
	  url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
  }

  #settings_list {
	margin-left: 2%;
  }

  #settings > table {
	margin-left: 2%;
  }

  #settings > table > tbody > tr > td {
	padding-right: 20px;
	text-align: center;
  }

  #buttons_card > button {
	width: 200px;
	margin: auto;
  }
